body.products {

  td#sidebar {
    width: 210px;
    .sidebar_in { margin: 0 10px; }
    
    a.magic_button {
      padding: 20px;
      height: 180px;
      display:block;
      
      background: white;
      border: #eee solid 1px;
      border-radius: 5px;
      box-shadow: #ccc 0 0 1px;
      text-decoration:none;
      
      img, span { display:block;margin: 0 auto 10px;text-align: center;color:#f90;font-size:20px; }
      
      background: #fff url(/assets/vb/cart.png) no-repeat 15px 160px;
      
      &:hover { background-color:#efffef;box-shadow: #ccc 0 0 10px; }
    }
    
    a.pay_button {
      display:block;width:190px;
      border:#ccc solid 1px;
      padding:20px;border-radius:5px;
      text-align: center;color:#f90;font-size:20px;text-decoration:none;
      
      background: #fff url(/assets/bt_pagseguro.gif) no-repeat 15px center;
      
      &:hover { background-color:#efffef;box-shadow: #ccc 0 0 10px; }
    }
    
    table {
      tfoot td {
        text-align:right;
        .input-submit { padding: 5px 10px; }
      }
      tbody td {
        padding-top:10px;vertical-align:middle;
        &.name { width:90px;padding-left:5px; }
        
      }
    }
  }
  
  table#show {
    td#product {
      .product_in {
        margin: 0 10px;
        background:#fff;border-radius:5px;height:100px;
        padding:20px;
      }
    }
  }
  
  table#index {
    td#products {
      ul {

        li {
          float: left;
          text-align: center;
          width: 176px;
          height: 270px;
          margin: 0 10px 20px;
          background: white;
          border: #eee solid 1px;
          border-radius: 5px;
          box-shadow: #ccc 0 0 1px;
          .in {
            margin: 20px;
            display:block;
          }
          &.hover { box-shadow: #999 0 0 10px; }
          a.image {
            width: 134px;height:168px;
            margin: 0;
            padding:0;
            img {
              display: block;
              margin: 10px auto;
            }
          }
          span {
            display:block;
            &.old     { color:red;text-decoration: line-through; }
            &.selling {  }
          }
        }
      }
    }
  }
  
  
  
}

