<div id="flags">
	<span id="flag_pagseguro" title="Saldo PagSeguro">Saldo PagSeguro</span>
	<span id="flag_visa" title="Visa">Visa</span>
	<span id="flag_mastercard" title="MasterCard">MasterCard</span>
	<span id="flag_diners" title="Diners">Diners</span>
	<span id="flag_americanexpress" title="American Express">American Express</span>
	<span id="flag_hipercard" title="Hipercard">Hipercard</span>
	<span id="flag_aura" title="Aura">Aura</span>
	<span id="flag_elo" title="Elo">Elo</span>
	<span id="flag_plenocard" title="PLENOCard">PLENOCard</span>
	<span id="flag_oipaggo" title="Oi Paggo">Oi Paggo</span>
	<span id="flag_bradesco" title="Banco Bradesco">Banco Bradesco</span>
	<span id="flag_itau" title="Banco Itaú">Banco Itaú</span>
	<span id="flag_bb" title="Banco do Brasil">Banco do Brasil</span>
	<span id="flag_banrisul" title="Banco Banrisul">Banco Banrisul</span>
	<span id="flag_hsbc" title="Banco HSBC">Banco HSBC</span>
	<span id="flag_boleto" title="Boleto">Boleto</span>
</div>
